/* src/components/UserSelect.css */
.custom-select option:checked,
.custom-select option:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.custom-select option {
  /* background-color: var(--card-background); */
  color: var(--text-color);
}